.poster-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .close-btn {
    margin: 20px;
    padding: 10px 40px;
    font-size: 20px;
    background-color: white;

    &.small {
      margin: 10px;
      padding: 3px 20px;
      font-size: 16px;
      background-color: white;
    }
  }
  .poster {
    width: 80%;

    &.small {
      width: 90%;
    }
  }
  .title {
    font-family: 'PT Sans', sans-serif;
    padding: 20px;
    font-size: 40px;
    color: rgb(255, 0, 0);
  }
}
