.poster-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .close-btn {
    margin: 20px;
    padding: 10px 40px;
    font-size: 20px;
    background-color: white;
  }
  .poster {
    height: 80%;

    &.full {
      height: 80%;
    }
  }
  .title {
    font-family: 'PT Sans', sans-serif;
    padding: 20px;
    font-size: 40px;
    color: rgb(255, 0, 0);
  }
}
