.home-article {
  font-size: 20px;
  font-weight: 100;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 30px 30px 30px;

  .image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 35%;
      margin: 20px;
    }
  }
  .image-shelter {
    width: 80%;
    align-self: center;
  }

  h1 {
    align-self: center;
  }
}

@media only screen and (max-width: 900px) {
  .home-article {
    h1 {
      font-size: 25px;
    }
    p {
      font-size: 14px;
      // padding: 0 3vw;
    }
    p {
      font-size: 14px;
      // padding: 0 3vw;
    }
  }
  .image-shelter {
    width: 80%;
    align-self: center;
  }
}
