.link-area {
  width: 100%;

  img {
    width: 150px;
    padding-bottom: 20px;
  }

  span {
    font-weight: 700;
  }

  .detail {
    font-size: 13px;
    font-style: italic;
    color: #555;
    padding: 5px 0;
  }
}
