.about-article {
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 100;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;

  &.small {
    font-size: 14px;

    p .big {
      font-size: 25px;
    }
  }
  .urgen {
    border: 1px red solid;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.1);
  }
  .img {
    width: 100%;
  }
  p .red {
    font-weight: 700;
    color: red;
  }
  p .mid {
    font-weight: 700;
    font-size: 25px;
    padding: 0 5px;
  }
  p .big {
    font-weight: 700;
    font-size: 35px;
  }
  .devider {
    border: 1px black solid;
    margin: 50px 0;
  }
}
