.about-article {
  width: 100%;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 100;
  font-family: 'Open Sans Condensed', sans-serif;

  &.small {
    font-size: 14px;
  }
  .img {
    width: 100%;
  }
  p span {
    font-weight: 700;
    color: red;
  }
}
