.fiction-fact {
  width: 100%;
  margin: 30px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // text-align: justify;

  h1,
  h3 {
    text-align: center;
  }
  .fiction-fact-container {
    border: #bbb 1px solid;
    margin: 10px;
    .rumor {
      padding: 10px;
      background-color: rgb(71, 71, 71);
      color: white;
    }
    // .laura-truth {
    //   padding: 10px;
    //   font-style: italic;
    //   color: rgba(255, 0, 0, 0.8);
    //   font-size: 14px;
    // }
    .truth-container {
      display: flex;

      justify-content: space-evenly;
      div {
        flex-grow: 1;
        flex-basis: 0;
      }
    }

    .fiction,
    .laura-truth {
      padding: 10px;
      font-style: italic;
      background: rgba(236, 31, 0, 0.97);
      color: white;
    }
    .fact,
    .truth {
      padding: 10px;
      // background: rgb(222, 222, 255);
      // color: rgb(0, 50, 168);
    }
  }
}

@media only screen and (max-width: 900px) {
  .truth-container {
    flex-direction: column;
  }
}
